torch~=2.1.2
torch-geometric~=2.5.0
tensorboard~=2.16.2
yacs~=0.1.8
pytorch-lightning~=2.2.0.post0
torch-scatter~=2.1.2
ogb~=1.3.6
einops~=0.7.0
local-attention~=1.9.0
axial-positional-embedding~=0.2.1
performer-pytorch~=1.1.4
apex~=0.9.10dev